<footer class="footer">
  <aside class="footer__aside">
    <img src="./img/logo.png" alt="" class="footer__aside-logo" />
    <p class="label">
      We provide information about properties such as houses, villas and
      apartments to help people find their dream home
    </p>

    <div class="footer__aside-icons">
      <a href="#" class="footer__aside-icon">
        <img src="./img/svg/FB.svg" alt="" class="icon icon--md" />
      </a>
      <a href="#" class="footer__aside-icon">
        <img src="./img/svg/TW.svg" alt="" class="icon icon--md" />
      </a>
      <a href="#" class="footer__aside-icon">
        <img src="./img/svg/PIN.svg" alt="" class="icon icon--md" />
      </a>
    </div>
  </aside>

  <dl class="footer__contents">
    <div>
      <dt class="subtitle footer__content-title">Property</dt>
      <dd>
        <ul class="footer__content">
          <li class="label footer__content-item"><a href="#">House</a></li>
          <li class="label footer__content-item"><a href="#">Apartment</a></li>
          <li class="label footer__content-item"><a href="#">Villa</a></li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="subtitle footer__content-title">Article</dt>
      <dd>
        <ul class="footer__content">
          <li class="label footer__content-item">
            <a href="#">New Article</a>
          </li>
          <li class="label footer__content-item">
            <a href="#">Popular Article</a>
          </li>
          <li class="label footer__content-item"><a href="#">Most Read</a></li>
          <li class="label footer__content-item">
            <a href="#">Tips & Tricks</a>
          </li>
        </ul>
      </dd>
    </div>

    <div>
      <dt class="subtitle footer__content-title">Contact</dt>
      <dd>
        <ul class="footer__content">
          <li class="label footer__content-item">
            <a href="#">2464 Royal Ln. Mesa, New Jersey 45463</a>
          </li>
          <li class="label footer__content-item">
            <a href="tel:12345678">(671) 555-0110</a>
          </li>
          <li class="label footer__content-item">
            <a href="mailto:info@hounter.com">info@hounter.com</a>
          </li>
        </ul>
      </dd>
    </div>
  </dl>

  <div class="footer__gradient"></div>
</footer>
