<header class="header">
  <div class="header__gradient"></div>
  <div class="header__navbar">
    <img src="../../../public/img/logo.png" alt="" />
    <load src="../components/nav.html" />
  </div>

  <div class="header__left">
    <h1 class="heading heading--primary header__heading">
      Find the place to live <span class="text--primary">your dreams</span>
      easily here
    </h1>
    <p class="header__text text">
      Everything you need about finding your place to live will be here, where
      it will be easier for you
    </p>

    <load src="/src/html/components/search-location.html" />

    <load src="../components/partnership.html" />
  </div>

  <div class="header__right">
    <div class="slider">
      <div class="slider__block">
        <!-- img -->

        <p class="subtitle">1K+ People</p>
        <p class="slider__text">Successfuly Getting Home</p>
      </div>
    </div>
  </div>
</header>
