<header class="header">
  <div class="header__gradient"></div>
  <div class="header__navbar">
    <img src="../../../public/img/logo.png" alt="" />
    <load src="../components/nav.html" />
  </div>

  <div class="header__left">
    <h1 class="heading heading--primary header__heading">
      Find the place to live <span class="text--primary">your dreams</span>
      easily here
    </h1>
    <p class="header__text text">
      Everything you need about finding your place to live will be here, where
      it will be easier for you
    </p>

    <load src="/src/html/components/search-location.html" />

    <load src="../components/partnership.html" />
  </div>

  <div class="header__right">
    <div class="header__right--colors-cover"></div>
    <div class="header__slider auto-slider">
      <div class="auto-slider__block">
        <div class="header__slider-box">
          <div class="header__slider-box--grouped">
            <img
              src="../../../public/img/avatars/avatar-1.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
            <img
              src="../../../public/img/avatars/avatar-2.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
            <img
              src="../../../public/img/avatars/avatar-3.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
          </div>

          <div class="header__slider-text-box">
            <p class="subtitle">1K+ People</p>
            <p class="header__slider-text label label--sm">
              Successfully Getting Home
            </p>
          </div>
        </div>

        <load
          src="../components/header-slider-box.html"
          subtitle="56 Houses"
          imgSrc="../../../public/img/avatars/avatar-4.png"
          text="Sold Monthly"
        />

        <load
          src="../components/header-slider-box.html"
          subtitle="4K+"
          imgSrc="../../../public/img/avatars/avatar-5.png"
          text="People Looking for New Homes"
        />
      </div>

      <div class="auto-slider__block">
        <div class="header__slider-box">
          <div class="header__slider-box--grouped">
            <img
              src="../../../public/img/avatars/avatar-1.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
            <img
              src="../../../public/img/avatars/avatar-2.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
            <img
              src="../../../public/img/avatars/avatar-3.png"
              alt=""
              class="header__slider-img header__slider-img--grouped"
            />
          </div>

          <div class="header__slider-text-box">
            <p class="subtitle">1K+ People</p>
            <p class="header__slider-text label label--sm">
              Successfully Getting Home
            </p>
          </div>
        </div>

        <load
          src="../components/header-slider-box.html"
          subtitle="56 Houses"
          imgSrc="../../../public/img/avatars/avatar-4.png"
          text="Sold Monthly"
        />

        <load
          src="../components/header-slider-box.html"
          subtitle="4K+"
          imgSrc="../../../public/img/avatars/avatar-5.png"
          text="People Looking for New Homes"
        />
      </div>
    </div>
  </div>
</header>
