<section class="more-info">
  <div class="more-info__gradient"></div>
  <load
    src="../components/annotation.html"
    text="See tips and trick from our partnership"
  />
  <h2 class="heading heading--secondary more-info__title">
    Find out more about selling and buying homes
  </h2>
  <load
    src="../components/buttons/btn.html"
    text="More Articles"
    type="primary"
    class="more-info__btn"
  />

  <div class="more-info__content">
    <ul class="more-info__articles"></ul>
  </div>
</section>
