<section class="more-info">
  <load
    src="../components/annotation.html"
    text="See tips and trick from our partnership"
  />
  <h2 class="heading heading--secondary more-info__title">
    Find out more about selling and buying homes
  </h2>
  <load
    src="../components/buttons/btn.html"
    text="More Articles"
    type="primary"
    class="more-info__btn"
  />

  <div class="more-info__content">
    <div class="more-info__articles">
      <article class="article">
        <img
          src="./img/articles/1.png"
          alt="Great looking living room connected with a kitchen with a big brown sofa and a lot of space"
          class="article__img"
        />

        <div class="article__content">
          <header class="article__header">
            <img
              src="./img/avatars/avatar-9.png"
              alt=""
              class="icon icon--md"
            />
            <p class="article__author-title label label--primary">
              Dianne Russell
            </p>
          </header>

          <a href="#" class="article__link">
            <h3 class="article__title subtitle">
              The things we need to check when we want to buy a house
            </h3>
          </a>
          <footer>
            <p class="label label--primary article__metadata">
              <svg class="article__metadata-icon icon icon--sm">
                <use xlink:href="./img/sprite.svg#clock"></use>
              </svg>
              <span class="article__reading-time">4 min read</span>
              &nbsp; | &nbsp;
              <time datetime="2021-04-25" class="article__time"
                >25 apr 2021</time
              >
            </p>
          </footer>
        </div>
      </article>

      <article class="article">
        <img
          src="./img/articles/1.png"
          alt="Great looking living room connected with a kitchen with a big brown sofa and a lot of space"
          class="article__img"
        />

        <div class="article__content">
          <header class="article__header">
            <img
              src="./img/avatars/avatar-9.png"
              alt=""
              class="icon icon--md"
            />
            <p class="article__author-title label label--primary">
              Dianne Russell
            </p>
          </header>

          <a href="#" class="article__link">
            <h3 class="article__title subtitle">
              The things we need to check when we want to buy a house
            </h3>
          </a>
          <footer>
            <p class="label label--primary article__metadata">
              <svg class="article__metadata-icon icon icon--sm">
                <use xlink:href="./img/sprite.svg#clock"></use>
              </svg>
              <span class="article__reading-time">4 min read</span>
              &nbsp; | &nbsp;
              <time datetime="2021-04-25" class="article__time"
                >25 apr 2021</time
              >
            </p>
          </footer>
        </div>
      </article>
      <article class="article">
        <img
          src="./img/articles/1.png"
          alt="Great looking living room connected with a kitchen with a big brown sofa and a lot of space"
          class="article__img"
        />

        <div class="article__content">
          <header class="article__header">
            <img
              src="./img/avatars/avatar-9.png"
              alt=""
              class="icon icon--md"
            />
            <p class="article__author-title label label--primary">
              Dianne Russell
            </p>
          </header>

          <a href="#" class="article__link">
            <h3 class="article__title subtitle">
              The things we need to check when we want to buy a house
            </h3>
          </a>
          <footer>
            <p class="label label--primary article__metadata">
              <svg class="article__metadata-icon icon icon--sm">
                <use xlink:href="./img/sprite.svg#clock"></use>
              </svg>
              <span class="article__reading-time">4 min read</span>
              &nbsp; | &nbsp;
              <time datetime="2021-04-25" class="article__time"
                >25 apr 2021</time
              >
            </p>
          </footer>
        </div>
      </article>
    </div>

    <article class="article article--big">
      <img
        src="./img/articles/1.png"
        alt="Great looking living room connected with a kitchen with a big brown sofa and a lot of space"
        class="article__img"
      />

      <div class="article__content">
        <header class="article__header">
          <img src="./img/avatars/avatar-8.png" alt="" class="icon icon--md" />
          <p class="article__author-title label label--primary">
            Dianne Russell
          </p>
        </header>

        <a href="#" class="article__link">
          <h3 class="article__title subtitle">
            The things we need to check when we want to buy a house
          </h3>
        </a>

        <p class="article__desc">
          Want to buy a house but are unsure about what we should know, here I
          will try to explain what we should know and check when we want to buy
          a house
        </p>
        <footer>
          <p class="label label--primary article__metadata">
            <svg class="article__metadata-icon icon icon--sm">
              <use xlink:href="./img/sprite.svg#clock"></use>
            </svg>
            <span class="article__reading-time">4 min read</span>
            &nbsp; | &nbsp;
            <time datetime="2021-04-25" class="article__time">25 apr 2021</time>
          </p>
        </footer>
      </div>
    </article>
  </div>
</section>
