<article class="newsletter" id="sign-up">
  <img
    src="/img/newsletter/1.png"
    alt=""
    class="newsletter__img newsletter__img--1"
  />
  <img
    src="/img/avatars/avatar-7.png"
    alt=""
    class="newsletter__img newsletter__img--2"
  />
  <img
    src="/img/avatars/avatar-9.png"
    alt=""
    class="newsletter__img newsletter__img--3"
  />
  <img
    src="/img/newsletter/2.png"
    alt=""
    class="newsletter__img newsletter__img--4"
  />

  <header>
    <h2 class="heading heading--secondary">
      Subscribe For More Info and update from Hounter
    </h2>
  </header>

  <footer>
    <load
      src="/src/html/components/complex-input.html"
      svgSrc="/img/sprite.svg#mail-info"
      label="Your email here"
      type="email"
      btnText="Subscribe Now"
      name="email"
      id="email"
      btnIcon="no-icon"
    />
  </footer>

  <img
    src="/img/newsletter/3.png"
    alt=""
    class="newsletter__img newsletter__img--5"
  />
  <img
    src="/img/avatars/avatar-13.png"
    alt=""
    class="newsletter__img newsletter__img--6"
  />
  <img
    src="/img/avatars/avatar-10.png"
    alt=""
    class="newsletter__img newsletter__img--7"
  />

  <img
    src="/img/newsletter/4.png"
    alt=""
    class="newsletter__img newsletter__img--8"
  />
</article>
