<section class="recommendations">
  <load
    src="../components/annotation.html"
    text="Our Recommendation"
    type="inline"
  />

  <div class="recommendations__content">
    <div class="recommendations__header">
      <h2 class="heading heading--secondary recommendations__heading">
        Featured house
      </h2>

      <ul class="recommendations__filters">
        <li data-filter="house">
          <load
            src="../components/buttons/btn-img.html"
            text="House"
            type="primary-dark"
            iconSrc="/img/svg/house-green.svg"
            iconClass="icon icon--sm"
            icon-placement="before"
          />
        </li>

        <li data-filter="villa">
          <load
            src="../components/buttons/btn-img.html"
            text="Villa"
            type="primary-light"
            iconSrc="/img/svg/villa-green.svg"
            iconClass="icon icon--sm"
            icon-placement="before"
          />
        </li>
        <li data-filter="apartment">
          <load
            src="../components/buttons/btn-img.html"
            text="Apartment"
            type="primary-light"
            iconSrc="/img/svg/apartment-green.svg"
            iconClass="icon icon--sm"
            icon-placement="before"
          />
        </li>
      </ul>

      <div class="recommendations__arrows">
        <button class="arrow-btn arrow-btn--left" data-dir="left" disabled>
          <svg class="icon icon--sm">
            <use xlink:href="/img/sprite.svg#arrow-green"></use>
          </svg>
          <svg class="icon icon--sm">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
        </button>

        <load
          src="../components/buttons/arrow-btn.html"
          type="right"
          active="active"
        />
      </div>
    </div>

    <ul class="recommendations__properties">
      <load
        src="../components/property.html"
        imgSrc="/img/properties/1.png"
        iconSrc="/img/svg/fire-danger.svg"
        labelText="Popular"
        labelType="danger"
        title="Roselands House"
        price="35.000.000"
        authorImgSrc="/img/avatars/avatar-6.png"
        authorTitle="Dianne Russell"
        authorLocation="Manchester, Kentucky"
        types="house apartment"
      />

      <load
        src="../components/property.html"
        imgSrc="/img/properties/2.png"
        iconSrc="/img/svg/house-info.svg"
        labelText="New house"
        labelType="info"
        title="Woodlandside"
        price="20.000.000"
        authorImgSrc="/img/avatars/avatar-7.png"
        authorTitle="Robert Fox"
        authorLocation="Dr. San Jose, South Dakota"
        types="house"
      />

      <load
        src="../components/property.html"
        imgSrc="/img/properties/3.png"
        iconSrc="/img/svg/wallet-green.svg"
        labelText="Best deals"
        labelType="primary"
        title="The Old Lighthouse"
        price="44.000.000"
        authorImgSrc="/img/avatars/avatar-8.png"
        authorTitle="Ronald Richards"
        authorLocation="Santa Ana, Illinois"
        types="house villa"
      />

      <load
        src="../components/property.html"
        imgSrc="/img/properties/4.png"
        iconSrc="/img/svg/fire-danger.svg"
        labelText="Popular"
        labelType="danger"
        title="Cosmo's House"
        price="22.000.000"
        authorImgSrc="/img/avatars/avatar-9.png"
        authorTitle="Jenny Wilson"
        authorLocation="Preston Rd. Inglewood, Maine 98380"
        types="house"
      />

      <load
        src="../components/property.html"
        imgSrc="/img/properties/1.png"
        iconSrc="/img/svg/fire-danger.svg"
        labelText="Popular"
        labelType="danger"
        title="Roselands House"
        price="35.000.000"
        authorImgSrc="/img/avatars/avatar-6.png"
        authorTitle="Dianne Russell"
        authorLocation="Manchester, Kentucky"
        types="house apartment"
      />
    </ul>
  </div>
</section>
