@mixin radialGradient(
  $color-primary,
  $color-secondary,
  $at: center center,
  $blur: 30px
) {
  position: absolute;
  background: radial-gradient(
    circle at $at,
    rgba($color-primary, 0.6),
    rgba($color-primary, 0.4),
    rgba($color-secondary, 0.4),
    rgba($color-secondary, 0.2),
    transparent
  );
  filter: blur($blur);
  z-index: -1;
}
