<template id="article">
  <article class="article">
    <img src="" alt="" class="article__img" />

    <div class="article__content">
      <header class="article__header">
        <img src="" alt="" class="icon icon--md article__author-img" />
        <p class="article__author-title label label--primary"></p>
      </header>

      <a class="article__link">
        <h3 class="article__title subtitle"></h3>
      </a>

      <p class="article__desc"></p>
      <footer>
        <p class="label label--primary article__metadata">
          <svg class="article__metadata-icon icon icon--sm">
            <use xlink:href="./img/sprite.svg#clock"></use>
          </svg>
          <span class="article__reading-time"></span>
          &nbsp; | &nbsp;
          <time datetime="" class="article__timestamp"></time>
        </p>
      </footer>
    </div>
  </article>
</template>
