@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.more-info {
  position: relative;
  padding: f.transformPx(109) f.transformPx(124);

  &__gradient {
    @include mix.radialGradient(#82ffe8, #c8ff82, top, 60px);
    top: -55px;
    left: -170px;
    height: 695px;
    width: 522px;
    border-radius: 0 25% 25% 0;
  }
  &__title {
    margin: f.transformPx(6) 0 f.transformPx(16);
    text-align: center;
  }

  &__btn {
    margin: 0 auto f.transformPx(48);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: f.transformPx(32);
  }

  &__articles {
    display: grid;
    gap: f.transformPx(32);
    overflow-y: scroll;
    max-height: calc((f.transformPx(32) + f.transformPx(148)) * 3.5);
  }
}
