@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.more-info {
  padding: f.transformPx(109) f.transformPx(124);

  &__title {
    margin: f.transformPx(6) 0 f.transformPx(16);
    text-align: center;
  }

  &__btn {
    margin: 0 auto f.transformPx(48);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: f.transformPx(32);
  }

  &__articles {
    display: grid;
    flex-direction: column;
    gap: f.transformPx(32);
  }
}
