@use "../abstracts/variables" as var;
@use "../abstracts/functions" as f;

.article {
  display: flex;
  align-items: center;
  gap: f.transformPx(32);

  &-btn {
    transition-property: color, scale, translate;
    transition-duration: 0.3s;

    &:hover {
      scale: 0.975;
    }

    &:active {
      translate: 0 3px;
    }
  }

  &-btn:hover &__title,
  &-btn:focus &__title {
    color: var.$c-primary-dark;
    scale: 1.025;
  }

  &--big {
    flex-direction: column;
    transition: scale 0.3s, translate 0.3s;
  }

  &--big &__img {
    width: 100%;
    height: f.transformPx(280);
  }

  &--big &__title {
    font-size: f.transformPx(24);
    line-height: f.transformPx(30);
    color: var.$c-black;

    &:hover,
    &:focus {
      color: var.$c-primary-dark;
    }
  }

  &--big:has(&__title:hover) {
    scale: 1.025;
  }

  &--big:has(&__title:active) {
    translate: 0 3px;
  }

  &--big &__desc {
    display: block;
  }

  &__img {
    width: f.transformPx(200);
    height: f.transformPx(148);
    object-fit: cover;
    border-radius: 16px;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__author-img {
    border-radius: 50%;
  }

  &__author-title {
    color: var.$c-dark-blue;
  }

  &__author-title {
    margin-left: f.transformPx(16);
  }

  &__title {
    margin: f.transformPx(12) 0;
    text-align: left;
    color: var.$c-black;
    transition: color 0.3s, scale 0.3s;
  }

  &__desc {
    display: none;
    margin-bottom: f.transformPx(16);
    color: var.$c-grey-3;
  }

  &__metadata {
    display: flex;
    align-items: center;
  }

  &__metadata-icon {
    position: relative;
    top: f.transformPx(2);
    margin-right: f.transformPx(12);
  }

  &__time {
    text-transform: capitalize;
  }
}
