@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.author {
  display: flex;
  align-items: center;
  gap: f.transformPx(16);

  &__img {
    aspect-ratio: 1 / 1;
    width: f.transformPx(40);
    border-radius: 50%;
    box-shadow: var.$shadow-sm;
  }

  &__text-box {
    width: max-content;
  }
}
