@use "../abstracts/variables" as var;
@use "../abstracts/functions" as f;

.cookie-banner {
  position: fixed;
  bottom: 24px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: f.transformPx(16) f.transformPx(40);
  min-width: 465px;
  background-color: var.$c-primary-light;
  border-radius: 28px;
  translate: -50% 0;
  transition: opacity 0.4s;
  z-index: 100;

  &__heading {
    display: flex;
    align-items: center;
    gap: f.transformPx(12);
    color: var.$c-primary-dark;
  }

  &--invisible {
    opacity: 0;
  }

  &__close-btn {
    transition: scale 0.3s, translate 0.3s;

    &:hover,
    &:focus {
      scale: 1.1;
    }

    &:active {
      translate: 0 3px;
    }
  }
}
