<form action="#" class="join-us-form">
  <div class="join-us-form__block">
    <label for="name" class="join-us-form__label">Name</label>
    <input
      type="text"
      placeholder="Your name"
      name="name"
      id="name"
      class="join-us-form__input"
      maxlength="100"
      required
    />
  </div>

  <div class="join-us-form__block">
    <label for="surname" class="join-us-form__label">Surname</label>
    <input
      type="text"
      placeholder="Your surname"
      name="surname"
      id="surname"
      class="join-us-form__input"
      required
      maxlength="100"
    />
  </div>

  <div class="join-us-form__block">
    <label for="education" class="join-us-form__label">Education</label>

    <select
      name="education"
      id="education"
      class="join-us-form__input join-us-form__select"
      required
    >
      <option value="" class="join-us-form__option">Select one</option>
      <option value="high-school" class="join-us-form__option">
        High school
      </option>
      <option value="technical-school" class="join-us-form__option">
        Technical school
      </option>
      <option value="associate" class="join-us-form__option">
        Associate's deegre
      </option>
      <option value="bachelor" class="join-us-form__option">
        Bachelor's deegre
      </option>
      <option value="master" class="join-us-form__option">
        Master's deegre
      </option>
      <option value="phd" class="join-us-form__option">PhD's deegre</option>
    </select>
  </div>

  <div class="join-us-form__block">
    <label for="message" class="join-us-form__label">Message</label>
    <textarea
      name="message"
      id="message"
      class="join-us-form__input join-us-form__textarea"
      placeholder="Message"
      rows="6"
      required
      minlength="10"
      maxlength="600"
    ></textarea>
    <p class="join-us-form__textarea-count">
      <span class="join-us-form__textarea-count--current">0</span>/<span
        class="join-us-form__textarea-count--max"
      ></span>
    </p>
  </div>

  <div class="join-us-form__consent-block">
    <label for="consent" class="join-us-form__consent-label label"
      >I give consent to the processing of my personal data given in the contact
      form above under the terms and conditions of Grid Dynamics Privacy
      Policy.</label
    >
    <input
      id="consent"
      type="checkbox"
      required
      class="join-us-form__consent-checkbox"
    />
    <span class="join-us-form__consent-checkbox-span"></span>
  </div>

  <load
    src="../components/buttons/btn.html"
    type="primary"
    text="Join Us"
    class="join-us-form__submit-btn"
  />
</form>
