<div class="partnership">
  <p class="partnership__text text">Our partnership</p>

  <div class="partnership__logos auto-slider">
    <div class="slider-block">
      <img src="/public/img/svg/traveloka.svg" alt="traveloka" />
      <img src="/public/img/svg/tiket.svg" alt="tiket.com" />
      <img src="/public/img/svg/airbnb.svg" alt="airbnb" />
      <img src="/public/img/svg/tripadvisor.svg" alt="tripadvisor" />
    </div>
    <div class="slider-block">
      <img src="/public/img/svg/traveloka.svg" alt="traveloka" />
      <img src="/public/img/svg/tiket.svg" alt="tiket.com" />
      <img src="/public/img/svg/airbnb.svg" alt="airbnb" />
      <img src="/public/img/svg/tripadvisor.svg" alt="tripadvisor" />
    </div>
  </div>
</div>
