<form action="#" class="search-location">
  <div class="search-location__box">
    <img
      src="../../../public/img/svg/location-pin.svg"
      alt=""
      class="search-location__icon"
    />

    <label for="search" class="search-location__label label text--md"
      >Search for the location you want!</label
    >

    <load
      src="./btn.html"
      text="Search "
      class="search-location__btn"
      type="primary"
      imgSrc="../../../public/img/svg/arrow-right.svg"
      imgClass="search-location__btn-icon"
    />
  </div>

  <input
    type="text"
    name="search"
    id="search"
    class="search-location__input label text--md"
    placeholder=""
    required
  />
</form>
