<section class="reviews">
  <load src="../components/annotation.html" text="See Our Review" />
  <h2 class="reviews__heading heading heading--secondary">
    What our user say about us
  </h2>

  <div class="reviews__container">
    <load
      src="src/html/components/review.html"
      title="My house sold out fast!"
      text="I was finally able to sell my house quickly through Hounter by immediately setting me up with people who wanted my house. I also do not get a discount from the sale of my house. Awesome!"
      rating="4.3"
      authorSubtitle="Dianne Russell"
      authorText="Manchester, Kentucky"
      authorImgSrc="../../../img/avatars/avatar-6.png"
      dir="left"
    />

    <load
      src="src/html/components/review.html"
      title="Best! I got the house I wanted through Hounter"
      text="Through this website I can get a house with the type and specifications I want very easily, without a complicated process to be able to find information on the house we want."
      rating="4.6"
      authorSubtitle="Jenny Wilson"
      authorText="Manager Director"
      authorImgSrc="../../../img/avatars/avatar-9.png"
      dir="default"
      active="active"
    />

    <load
      src="src/html/components/review.html"
      title="Through the Hounter, I
    can get a house for my self"
      text="By looking for information about what
    kind of house we want, we managed to get the house we wanted very quickly,
    and directly connected with the seller to be able to ask about the details,
    very helpful!"
      rating="4.6"
      authorSubtitle="Ronald Richards"
      authorText="Head of Marketing"
      authorImgSrc="../../../img/avatars/avatar-8.png"
      dir="right"
    />
  </div>

  <div class="reviews__dots">
    <button
      class="reviews__dot"
      data-dir="left"
      aria-label="Show left review"
    ></button>
    <button
      class="reviews__dot reviews__dot--active"
      data-dir="default"
      aria-label="Show middle review"
    ></button>
    <button
      class="reviews__dot"
      data-dir="right"
      aria-label="Show right review"
    ></button>
  </div>
</section>
