<section class="tour">
  <div class="tour__gradient"></div>
  <div class="tour__content">
    <load
      src="../components/annotation.html"
      text="Ready to Sell!"
      type="inline"
      class="tour__annotation"
    />
    <h2 class="tour__heading heading heading--secondary">
      Let's tour and see our house!
    </h2>
    <p class="tour__desc">
      Houses recommended by our partners that have been curated to become the
      home of your dreams!
    </p>

    <h3 class="heading heading--tertiary tour__heading-detail">House Detail</h3>

    <div class="tour__details">
      <load
        src="../components/house_detail.html"
        svgSrc="/img/sprite.svg#bed"
        text="4 Bedrooms"
      />

      <load
        src="../components/house_detail.html"
        svgSrc="/img/sprite.svg#bath"
        text="2 Bathrooms"
      />

      <load
        src="../components/house_detail.html"
        svgSrc="/img/sprite.svg#car"
        text="1 Carport"
      />

      <load
        src="../components/house_detail.html"
        svgSrc="/img/sprite.svg#stairs"
        text="2 Floors"
      />
    </div>

    <div class="tour__owner">
      <load
        src="../components/author.html"
        imgSrc="/img/avatars/avatar-6.png"
        subtitle="Dianne Russell"
        text="Manchester, Kentucky"
        imgClass="tour__owner-icon"
      />
      <load
        src="../components/buttons/btn-link-icon.html"
        text="Contact Now"
        type="primary"
        svgSrc="/img/sprite.svg#call"
        svgClass="icon icon--sm"
        href="tel:123456789"
      />
    </div>
  </div>

  <div class="tour__media" aria-label="Play tour video">
    <button class="tour__video-btn">
      <img src="/img/tour/video.png" alt="" class="tour__video-img" />
      <svg class="tour__play-img icon icon--xl">
        <use xlink:href="/img/sprite.svg#play"></use>
      </svg>
    </button>

    <div class="tour__imgs-container">
      <img src="/img/tour/1.png" alt="A nice green sofa" class="tour__img" />
      <img
        src="/img/tour/2.png"
        alt="Close up of a wall with images"
        class="tour__img"
      />
      <img
        src="/img/tour/3.png"
        alt="Close up of a restroom"
        class="tour__img"
      />
    </div>
  </div>
</section>
