<section class="partnership">
  <h2 class="partnership__text text text--light">Our partnership</h2>

  <div class="partnership__logos-box auto-slider">
    <ul class="auto-slider__block">
      <li>
        <img
          src="/img/svg/traveloka.svg"
          alt="traveloka"
          class="partnership__logo"
        />
      </li>
      <li>
        <img
          src="/img/svg/tiket.svg"
          alt="tiket.com"
          class="partnership__logo"
        />
      </li>
      <li>
        <img src="/img/svg/airbnb.svg" alt="airbnb" class="partnership__logo" />
      </li>
      <li>
        <img
          src="/img/svg/tripadvisor.svg"
          alt="tripadvisor"
          class="partnership__logo"
        />
      </li>
    </ul>

    <ul class="auto-slider__block" aria-hidden="true">
      <li>
        <img
          src="/img/svg/traveloka.svg"
          alt="traveloka"
          class="partnership__logo"
        />
      </li>
      <li>
        <img
          src="/img/svg/tiket.svg"
          alt="tiket.com"
          class="partnership__logo"
        />
      </li>
      <li>
        <img src="/img/svg/airbnb.svg" alt="airbnb" class="partnership__logo" />
      </li>
      <li>
        <img
          src="/img/svg/tripadvisor.svg"
          alt="tripadvisor"
          class="partnership__logo"
        />
      </li>
    </ul>
  </div>
</section>
