<div class="review review--{=$active}" data-dir="{=$dir}">
  <div class="review__content">
    <h3 class="heading heading--quaternary">{=$title}</h3>
    <blockquote class="label review__label text">{=$text}</blockquote>

    <footer class="review__info">
      <load
        src="./author.html"
        subtitle="{=$authorSubtitle}"
        text="{=$authorText}"
        imgSrc="{=$authorImgSrc}"
      />
      <svg class="icon icon--sm">
        <use xlink:href="../../../public/img/sprite.svg#star" />
      </svg>
      <p class="review__rating heading--quaternary">{=$rating}</p>
    </footer>
  </div>
</div>
