<aside class="would-you-join">
  <h2 class="heading heading--tertiary">Would you like to join?</h2>
  <ol class="would-you-join__list">
    <li class="would-you-join__item text">
      Quickly get three quotes from these local that people love in online
      reviews.
    </li>
    <li class="would-you-join__item text">
      Pick the whose estimate suits you best.
    </li>
    <li class="would-you-join__item text">
      We then make sure the work i done to your complete satisfaction.
    </li>
  </ol>
  <div class="would-you-join__img-box">
    <img src="/img/would-you-join/1.png" alt="" class="would-you-join__img" />
    <div class="would-you-join__img-gradient"></div>
  </div>
</aside>
