.auto-slider {
  position: relative;
  overflow: hidden;

  &__block {
    display: flex;
    translate: -100%;

    &:first-of-type {
      position: absolute;
      translate: -100%;
      animation: scroll1 25s linear infinite;
    }

    &:last-of-type {
      animation: scroll2 25s linear infinite;
    }
  }
}

@keyframes scroll1 {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes scroll2 {
  from {
    translate: 0;
  }
  to {
    translate: 100%;
  }
}
