@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.header__slider {
  &-box {
    display: flex;
    align-items: center;
    margin-right: f.transformPx(16);
    gap: f.transformPx(16);
    padding: f.transformPx(24);
    background-color: #fff;
    border-radius: 32px;
    box-shadow: var.$shadow-md;

    &--grouped {
      display: flex;
      width: f.transformPx(112);
    }
  }

  &-img {
    aspect-ratio: 1 / 1;
    width: f.transformPx(56);
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: var.$shadow-sm;

    &--grouped:nth-of-type(2) {
      translate: -50%;
    }

    &--grouped:nth-of-type(3) {
      translate: -100%;
    }
  }

  &-text-box {
    width: max-content;
  }
}
