@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.notification {
  opacity: 0;
  position: fixed;
  padding: f.transformPx(16);
  font-size: f.transformPx(20);
  bottom: 20px;
  right: 20px;
  border-radius: 16px;
  translate: 0 200%;
  transition: translate 0.4s, opacity 0.4s;

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: f.transformPx(4);
    border-radius: 50%;
    translate: 0 -50%;
  }

  &:has(&__error) {
    opacity: 1;
    background-color: var.$c-danger;
    translate: 0;
  }

  &:has(&__error) &__close-btn {
    display: flex;
    background-color: var.$c-danger-light;
  }

  &__error {
    color: var.$c-danger-light;
  }
}
