@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.property {
  display: flex;
  flex-direction: column;
  gap: f.transformPx(24);

  &__img-block {
    position: relative;
  }

  &__img {
    height: 376px;
    width: 382px;
    object-fit: cover;
    border-radius: 24px;
  }

  &__label {
    display: flex;
    width: max-content;
    position: absolute;
    left: f.transformPx(16);
    bottom: f.transformPx(16);
    padding: f.transformPx(8) f.transformPx(16);
    border-radius: 32px;

    & .icon {
      margin-right: f.transformPx(8);
    }

    &--danger {
      color: var.$c-danger;
      background-color: var.$c-danger-light;
    }

    &--info {
      color: var.$c-info;
      background-color: var.$c-info-light;
    }

    &--primary {
      color: var.$c-primary-dark;
      background: var.$c-primary-light;
    }
  }

  &__price {
    margin-top: f.transformPx(8);
    color: var.$c-grey-3;
  }
}
