@use "../abstracts/variables" as var;
@use "../abstracts/functions" as f;

.review {
  position: relative;
  left: f.transformPx(-96);
  padding: 0 f.transformPx(86);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: f.transformPx(429);
  background-size: cover;
  translate: -50%;
  transition: translate 0.3s ease-out, scale 0.3s;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      background-image: url("/img/reviews/#{$i}.png");
    }
  }

  &:not(&--active) {
    scale: 0.95;
    cursor: pointer;

    &:hover,
    &:focus {
      scale: 0.925;
    }
  }

  &:not(&--active) &__content {
    scale: 0.95;
  }

  &:not(&--active):hover &__content,
  &:not(&--active):focus &__content {
    box-shadow: var.$shadow-sm;
    scale: 1;
  }

  &__content {
    position: relative;
    top: f.transformPx(49.5);
    padding: f.transformPx(32);
    background-color: var.$c-white;
    border-radius: 16px;
    box-shadow: var.$shadow-xsm;
    transition: box-shadow 0.3s, scale 0.3s;
  }

  &__label {
    margin: f.transformPx(16) 0 f.transformPx(24);
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: f.transformPx(16);
    align-items: center;
  }

  & .icon {
    grid-column: -3 / -2;
  }

  &__rating {
    grid-column: -2 / -1;
  }
}
