@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: f.transformPx(720);

  &__gradient {
    @include mix.radialGradient(#82f7ff, #82ffd2, left top);
    top: -30%;
    left: -25%;
    translate: 50% 60%;
    width: 568px;
    height: 361px;
    border-bottom-right-radius: 50%;
  }

  &__navbar {
    position: absolute;
    display: flex;
    padding: f.transformPx(45) f.transformPx(124);
    width: 100%;
    z-index: 1000;

    &-logo {
      width: 115px;
      height: 100%;
      width: 115px;
    }
  }

  &__left {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: f.transformPx(32);
    margin-left: f.transformPx(124);
    max-width: f.transformPx(496);
  }

  &__heading {
    padding-right: f.transformPx(20);
  }

  &__text {
    color: var.$c-grey-3;
  }

  &__right {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(
        16.74deg,
        #0c1537 -6.09%,
        rgba(12, 21, 55, 0) 32.63%
      ),
      url("/img/header/background.png");
    border-bottom-left-radius: 80px;

    &--colors-cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("/img/header/background-colors-cover.png");
      background-position: 42% 37%;
      background-repeat: no-repeat;
    }
  }

  &__slider {
    display: flex;
    margin-bottom: f.transformPx(48);
  }
}
