@use "../abstracts/functions" as f;
@use "../abstracts/variables" as var;

.reviews {
  padding: f.transformPx(113) 0;
  overflow: hidden;

  &__heading {
    margin: f.transformPx(13) 0 f.transformPx(40);
    text-align: center;
  }

  &__container {
    display: flex;
    gap: f.transformPx(32);

    & > * {
      flex: 1 0 f.transformPx(784);
    }
  }

  &__dots {
    display: flex;
    margin-top: calc(f.transformPx(49.5) + f.transformPx(32));
    gap: f.transformPx(16);
    justify-content: center;
  }

  &__dot {
    display: block;
    aspect-ratio: 1 / 1;
    background-color: var.$c-grey-1;
    min-width: 8px;
    width: f.transformPx(8);
    border-radius: 50%;
    transition: background-color 0.3s, scale 0.3s, translate 0.3s;

    &:hover,
    &:focus {
      scale: 1.5;
    }

    &--active {
      background-color: var.$c-grey-3;
      scale: 1.25;
    }
  }
}
